<footer class="bg-neutral text-neutral-content py-12 px-24">
    <div class="flex-col gap-2 pb-6">
        <!-- <img src="" alt="logo"> -->
        <span class="text-xl font-bold">UniverCIT</span>
    </div>
    <div class="footer sm:footer-horizontal py-12 border-y-2 border-gray-600">
        <nav>
            <h6 class="footer-title">About</h6>
            <span class="max-w-md">
                A collaborative academic platform where students can explore programs, share course 
                files, and engage in meaningful discussions.
            </span>
            <span>Designed to support learning, connection, and growth across all disciplines.</span>
        </nav>
        <nav>
            <h6 class="footer-title">Quick Links</h6>
            <a class="link link-hover">Dashboard</a>
            <a class="link link-hover">Programs</a>
            <a class="link link-hover">Courses</a>
        </nav>
        <nav>
            <h6 class="footer-title">Legal</h6>
            <a class="link link-hover">Terms of use</a>
            <a class="link link-hover">Privacy policy</a>
            <a class="link link-hover">Cookie policy</a>
        </nav>
    </div>
    <div class="pt-6">
        <span class="text-sm text-gray-500">UniverCIT @ 2025. All rights reserved.</span>
    </div>
</footer>