<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ forum.forum_title }}</title>
    {% load static %}
    <link href="{% static 'css/src/output.css' %}" rel="stylesheet" type="text/css" />
</head>
<body class="m-8">
    <h1> {{ forum.forum_title }} </h1>
    <br>
    <div class="grid grid-cols-4 grid-auto-rows-fr gap-4">
        {% for thread in forum_threads %}
            {% include 'forum_thread_card.html' %}
        {% endfor %}
    </div>

    {% include 'forum_make_thread.html' %}
</body>
</html>