{% extends "base.html" %}
{% load static %}

{% block body %}
<main>
    <section class="hero-custom min-h-[360px] px-24"
        style="background-image: linear-gradient(to right top, #fa812f, 
        #fc843a, #fd8744, #fe8a4e, #ff8d57, #ff9060, #ff9368, 
        #ff9670, #ff9a79, #ff9e82, #ffa28b, #ffa693);">
        <div class="flex items-center justify-between gap-1 p-4 w-full flex-col lg:flex-row-reverse">
            <div>
                <img
                    src="{% static 'assets/idea.jpg' %}"
                    class="max-w-sm rounded-lg shadow-2xl"
                />
            </div>
            <div class="max-w-lg text-white">
                <div class="breadcrumbs text-md mb-4">
                    <ul>
                        <li><a href="{% url 'program_list' %}">Programs</a></li>
                        <li>
                            {% for program in programs.all %}
                                <a href="{% url 'program_detail' program.program_code %}">{{ program.program_code }} </a>
                                {% if not forloop.last %}-{% endif %}
                            {% empty %}
                                ___
                            {% endfor %}
                        </li>
                        <li><a>{{ course.course_id }}</a></li>
                    </ul>
                </div>
                <h1 class="text-5xl font-bold mb-2">{{ course.course_id }}</h1>
                <h2 class="text-3xl font-bold mb-6">
                    {{ course.course_name }}
                </h2>
                <span>Summary:</span>
                <ul>
                    <li>Files Uploaded: 0</li>
                    <li>Active Discussions: 0</li>
                </ul>
            </div>
        </div>
    </section>
    <div class="px-24 sticky top-16 z-30 bg-base-100">
        <div role="tablist" class="tabs tabs-border py-2">
            <a id="overview-link" role="tab" class="tab tab-active">Overview</a>
            <a id="files-link" role="tab" class="tab">Files</a>
            <a id="discussions-link" role="tab" class="tab">Discussions</a>
        </div>
    </div>
    <section class="px-24 py-6">
        <section id="overview-section" class="py-12 text-justify scroll-section">
            <h3 class="text-xl font-bold">OVERVIEW</h3>
            <h2 class="text-4xl font-bold mb-6">About This Course</h2>
            <p class="text-lg leading-relaxed">
                {{ course.course_desc }}
            </p>
        </section>
        <section id="files-section" class="py-12 scroll-section">
            <h3 class="text-xl font-bold mb-4">TOP FILES</h3>
            <div class="overflow-x-auto">
            <table class="table">
                <!-- head -->
                <thead>
                <tr>
                    <th>Files</th>
                    <th>Owner</th>
                    <th class="text-center">Date Uploaded</th>
                    <th class="text-center">Upvotes</th>
                    <th class="text-center">Downvotes</th>
                </tr>
                </thead>
                <tbody>
                {% for i in "01234" %}
                <!-- rows -->
                <tr>
                    <td>
                        File Name {{ forloop.counter0 }}
                    </td>
                    <td>
                    <div class="flex items-center gap-3">
                        <div class="avatar">
                        <div class="mask mask-squircle h-12 w-12">
                            <img
                            src="{% static 'assets/elgato.jpg' %}"
                            alt="Avatar Tailwind CSS Component" />
                        </div>
                        </div>
                        <div>
                        <div class="font-bold">Jane Doe</div>
                        <div class="text-sm opacity-50">BSCS</div>
                        </div>
                    </div>
                    </td>
                    <td class="text-center">18/11/2025</td>
                    <td class="text-center">10</td>
                    <td class="text-center">3</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
            <div class="mt-4">
                <button class="btn btn-secondary ml-auto block">More Files</button>
            </div>
        </section>
        <section id="discussions-section" class="py-12 scroll-section">
            <h3 class="text-xl font-bold">TOP DISCUSSIONS</h3>
            <h4 class="text-3xl font-bold mb-4">Engage with forums from fellow students.</h4>
            <ul class="list bg-base-100 rounded-box shadow-md">
  
            <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">Most active disucssions</li>
            
            <li class="list-row">
                <div class="flex items-center"><svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="24px" fill="#5D0E07"><path d="M240-400h320v-80H240v80Zm0-120h480v-80H240v80Zm0-120h480v-80H240v80ZM80-80v-720q0-33 23.5-56.5T160-880h640q33 0 56.5 23.5T880-800v480q0 33-23.5 56.5T800-240H240L80-80Zm126-240h594v-480H160v525l46-45Zm-46 0v-480 480Z"/></svg></div>
                <div class="flex items-center text-xl font-bold">
                    What part of this course did you find most challenging and why?
                </div>
                <svg class="size-[1.2em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none" stroke="currentColor"><path d="M6 3L20 12 6 21 6 3z"></path></g></svg>
            </li>
            
            <li class="list-row">
                <div class="flex items-center"><svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="24px" fill="#5D0E07"><path d="M240-400h320v-80H240v80Zm0-120h480v-80H240v80Zm0-120h480v-80H240v80ZM80-80v-720q0-33 23.5-56.5T160-880h640q33 0 56.5 23.5T880-800v480q0 33-23.5 56.5T800-240H240L80-80Zm126-240h594v-480H160v525l46-45Zm-46 0v-480 480Z"/></svg></div>
                <div class="flex items-center text-xl font-bold">
                    Can anyone share tips for studying this subject effectively?
                </div>
                <svg class="size-[1.2em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none" stroke="currentColor"><path d="M6 3L20 12 6 21 6 3z"></path></g></svg>
            </li>
            
            <li class="list-row">
                <div class="flex items-center"><svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="24px" fill="#5D0E07"><path d="M240-400h320v-80H240v80Zm0-120h480v-80H240v80Zm0-120h480v-80H240v80ZM80-80v-720q0-33 23.5-56.5T160-880h640q33 0 56.5 23.5T880-800v480q0 33-23.5 56.5T800-240H240L80-80Zm126-240h594v-480H160v525l46-45Zm-46 0v-480 480Z"/></svg></div>
                <div class="flex items-center text-xl font-bold">
                    How do you usually prepare for quizzes or exams in this course?
                </div>
                <svg class="size-[1.2em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none" stroke="currentColor"><path d="M6 3L20 12 6 21 6 3z"></path></g></svg>
            </li>
            
            <li class="list-row">
                <div class="flex items-center"><svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="24px" fill="#5D0E07"><path d="M240-400h320v-80H240v80Zm0-120h480v-80H240v80Zm0-120h480v-80H240v80ZM80-80v-720q0-33 23.5-56.5T160-880h640q33 0 56.5 23.5T880-800v480q0 33-23.5 56.5T800-240H240L80-80Zm126-240h594v-480H160v525l46-45Zm-46 0v-480 480Z"/></svg></div>
                <div class="flex items-center text-xl font-bold">
                    What topics do you think deserve more focus from the instructor?
                </div>
                <svg class="size-[1.2em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none" stroke="currentColor"><path d="M6 3L20 12 6 21 6 3z"></path></g></svg>
            </li>

            <li class="list-row">
                <div class="flex items-center"><svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="24px" fill="#5D0E07"><path d="M240-400h320v-80H240v80Zm0-120h480v-80H240v80Zm0-120h480v-80H240v80ZM80-80v-720q0-33 23.5-56.5T160-880h640q33 0 56.5 23.5T880-800v480q0 33-23.5 56.5T800-240H240L80-80Zm126-240h594v-480H160v525l46-45Zm-46 0v-480 480Z"/></svg></div>
                <div class="flex items-center text-xl font-bold">
                    Can anyone share their notes or summaries for this week’s lecture?
                </div>
                <svg class="size-[1.2em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none" stroke="currentColor"><path d="M6 3L20 12 6 21 6 3z"></path></g></svg>
            </li>
            </ul>
            <div class="mt-6">
                <button class="btn btn-secondary ml-auto block">More Discussions</button>
            </div>
        </section>
    </section>
</main>
{% endblock %}

{% block script %}
<script src="{% static 'js/course_scroll_section.js' %}"></script>
{% endblock %}