{% extends "dashboard-base.html" %}
{% load static %}

{% block title %}
    <h1 class="text-xl font-bold">Courses</h1>
{% endblock %}

{% block body %}
    <p class="mb-12 text-sm text-gray-700">
        Administrator panel for managing courses. Use this page to maintain course records, add new courses, and ensure all information is up-to-date.
    </p>
    <div class="w-full flex justify-between items-center mb-4">
        <span class="text-sm text-gray-500">Number of Courses: {{ courses|length }}</span>
        <div>
            <div class="tooltip" data-tip="Use the checkbox to select">
                <button id="remove-course" class="btn bg-error text-white btn-md mr-4 btn-disabled bg-red-200">
                    <svg class="w-4 h-4 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7.757 12h8.486M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/></svg>
                    Remove Course</button>
            </div>
            <a href="{% url 'dashboard_course_create' %}" class="btn bg-slate-600 text-white btn-md hover:bg-slate-700">
                <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 7.757v8.486M7.757 12h8.486M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/></svg>
                Add Course
            </a>
        </div>
    </div>
    <section>
        <div class="overflow-x-auto max-h-[65vh]">
        <table class="table">
            <!-- head -->
            <thead class="sticky top-0 z-1 bg-base-100 shadow-xs">
            <tr>
                <th>
                <label>
                    <input id="dasshboard-course-select-all" type="checkbox" class="checkbox" />
                </label>
                </th>
                <th>
                    <button class="flex gap-2 items-center cursor-pointer hover:underline hover:underline-offset-4">
                        <span>
                            Course ID 
                        </span>
                        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 19V5m0 14-4-4m4 4 4-4"/>
                        </svg>
                    </button>
                </th>
                <th>Course Name</th>
            </tr>
            </thead>
            <tbody>
            {% for course in courses %}
                <tr class="hover:bg-gray-200 cursor-pointer">
                    <th>
                    <label>
                        <input type="checkbox" class="checkbox dashboard-course-checkbox" value="{{ course.course_id }}"/>
                    </label>
                    </th>
                    <td class="hover:underline"
                        onclick="window.location.href='{% url 'dashboard_course_update' course.course_id %}'">{{ course.course_id }}</td>
                    <td onclick="window.location.href='{% url 'dashboard_course_update' course.course_id %}'">{{ course.course_name }}</td>
                </tr>
            {% empty %}
            No program.
            {% endfor %}
            
            </tbody>
        </table>
        </div>
    </section>
    <dialog id="delete_modal" class="modal">
    <div class="modal-box">
        <h3 class="text-lg font-bold">Delete Course</h3>
        <p class="py-4">Are you sure you want to delete the selected course(s)?</p>
        <div class="modal-action">
        <form action="{% url 'dashboard_course_delete' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" id="selected-course-delete" name="selected-courses-delete" value="">
            <button class="btn btn-error" type="submit">Delete</button>
        </form>
        <form method="dialog">
            <button class="btn ml-2">Cancel</button>
        </form>
        </div>
    </div>
    </dialog>
{% endblock %}

{% block script %}
    <script src="{% static 'js/dashboard-courses.js' %}"></script>
{% endblock %}